html, body{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;

    height: 100vh;
}

/* TITULOS*/
header h1, main h2{
    margin-bottom: 70px;
}
/* ESTRUTURA*/
header, main, footer {
    text-align: center;
}

header, .form, main {
    /*espacamentos com margem*/
    margin: 0 auto 70px;

    width: 90%;
    max-width: 500px;
}

/*FORM*/

section.form{
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

form input,
form button {
    width: 100%;
    margin-bottom: 4px;
    box-sizing: border-box;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px red solid;
}

/* MAIN*/
main .donors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer{
    margin-top: auto;
}